
/*Main*/

main h3 {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
}

main h6 {
    display: flex;
    justify-content: center;

}

#plants-container {
    display: flex;
}

.plant-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
}

.plant-link picture h4 {
    background-color: gray;
    padding: 4rem 4.5rem;
}

.plant-link h5 {
    margin: 0.5rem 1rem 0.5rem 0;
}

